@media (max-width: 1120px) {
  .sign-in-container {
    padding: 18px 30px;

    .logo {
      margin: 20px 0 14px 0px;
      img {
        width: 248px;
      }
    }

    .sign-in-input-wrapper {
      .eye-icon {
        font-size: 20px;
      }
    }

    .links {
      margin: 12px 0 0px 0;
    }

    .login-btn,
    .reset-btn {
      margin-top: 13px;
      padding: 11px 15px;
    }
  }

  .footer {
    display: none;
  }
}

@media (max-width: 520px) {
  .sign-in-container {
    width: 310px;

    .logo {
      img {
        width: 235px;
      }
    }

    .sign-in-input {
      font-size: 15px;
      margin: 6px 0;
    }

    .sign-in-input-wrapper {
      .eye-icon {
        font-size: 20px;
      }
    }

    .links {
      a {
        font-size: 13px;
      }
    }

    .login-btn,
    .reset-btn {
      margin-top: 11px;
      padding: 8px 14px;
    }
  }
}
