/* Global Styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f5f7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.width-container {
  max-width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.section-w-container {
  max-width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

.icon {
  outline: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 24px;
  background-color: transparent;
  -webkit-transition: color 250ms linear 10ms;
  transition: color 250ms linear 10ms;
}

.icon-margin {
  margin-left: 10px;
}

.btn, .block-btn, .sign-in-container .login-btn,
.sign-in-container .reset-btn {
  outline: none;
  border: none;
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 1rem;
  letter-spacing: 0.25px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  background-color: blue;
  -webkit-transition: background-color 250ms ease-in 10ms;
  transition: background-color 250ms ease-in 10ms;
}

.block-btn {
  display: block;
  width: 100%;
  margin: 0;
  margin-top: 20px;
  padding: 15px 15px;
  background-color: red;
}

.msg {
  font-size: 15px;
  font-weight: bold;
  margin: 13px 0;
}

.input {
  display: block;
  width: 100%;
  color: #222;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  border: 2px solid #000;
  outline: none;
  padding: 11px;
  margin: 8px 0;
  -webkit-transition: all 120ms ease-in;
  transition: all 120ms ease-in;
}

.eye-icon {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 22px;
  color: #7a797e;
  cursor: pointer;
  -webkit-transition: 150ms ease-in;
  transition: 150ms ease-in;
  position: absolute;
  top: 50%;
  right: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#eye-clear {
  display: none;
}

.grey-background {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 13px;
  border-left: 5px solid #191970;
  background-color: #f5f6f8;
}

.basic-text {
  color: #1b1212;
  font-size: 16px;
  letter-spacing: 0.25px;
}

.section-default {
  padding: 75px 0;
}

.shake {
  -webkit-animation: shake 140ms linear 0s;
          animation: shake 140ms linear 0s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  50% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  50% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.sign-in-container {
  position: relative;
  width: 385px;
  margin-top: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 20px 35px;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
  -webkit-animation: opacity 1000ms linear 1;
          animation: opacity 1000ms linear 1;
}

.sign-in-container .logo {
  margin: 20px 0 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-in-container .logo img {
  width: 255px;
}

.sign-in-container .sign-in-input {
  width: 100%;
  color: #222;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 3px;
  border: 2px solid #aaaaaa;
  background-color: #fff;
  outline: none;
  padding: 10px 12px;
  margin: 8px 0;
  -webkit-transition: all 120ms ease-in;
  transition: all 120ms ease-in;
}

.sign-in-container .sign-in-input:focus {
  border: 2px solid #5887ef;
  background-color: #fff;
}

.sign-in-container .sign-in-input-wrapper {
  position: relative;
}

.sign-in-container .sign-in-input-wrapper.de-active {
  display: none;
}

.sign-in-container .sign-in-input-wrapper .eye-icon {
  font-size: 22px;
  color: #7a797e;
  cursor: pointer;
  -webkit-transition: 150ms ease-in;
  transition: 150ms ease-in;
  position: absolute;
  top: 50%;
  right: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sign-in-container .sign-in-input-wrapper .eye-icon:last-child {
  display: none;
  color: #333;
}

.sign-in-container .sign-in-input-wrapper .reset-password-msg {
  display: none;
}

.sign-in-container .links {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 2px;
}

.sign-in-container .links a {
  color: #aaaaaa;
  font-size: 15px;
  font-weight: 100px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-left: 2px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.sign-in-container .links a:hover {
  color: #333;
  text-decoration: underline;
}

.sign-in-container .login-btn,
.sign-in-container .reset-btn {
  display: block;
  width: 100%;
  margin-top: 17px;
  padding: 12px 15px;
  background-color: #f96816;
  font-size: 18px;
  letter-spacing: 1px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.sign-in-container.reset-password {
  width: 400px;
  margin-top: 0px;
  padding: 13px 35px;
}

.sign-in-container.reset-password .logo {
  margin-top: 22px;
  margin-bottom: 18px;
}

.sign-in-container.reset-password .logo img {
  width: 250px;
}

.sign-in-container.reset-password .sign-in-input-wrapper {
  margin-bottom: 4px;
}

.sign-in-container.reset-password .sign-in-input-wrapper .sign-in-input {
  font-size: 15px;
  margin: 6px 0;
  border-width: 1px;
}

.sign-in-container.reset-password .sign-in-input-wrapper .sign-in-input:focus {
  border-width: 1px;
}

.sign-in-container.reset-password .sign-in-input-wrapper .birthday-selector-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.sign-in-container.reset-password .sign-in-input-wrapper .birthday-selector-content .selector-wrapper {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-in-container.reset-password .sign-in-input-wrapper .birthday-selector-content label {
  margin-bottom: 5px;
  display: none;
}

.sign-in-container.reset-password .sign-in-input-wrapper .birthday-selector-content select {
  background-color: transparent;
  outline: none;
  border: 1px solid #cccccc;
  padding: 9px 15px;
}

.sign-in-container.reset-password .sign-in-input-wrapper.de-active {
  display: none;
}

.sign-in-container.reset-password .sign-in-input-wrapper.set-new-password {
  visibility: hidden;
  height: 0;
  width: 0;
  opacity: 0;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
  margin-bottom: 0px;
}

.sign-in-container.reset-password .sign-in-input-wrapper.set-new-password.active {
  visibility: visible;
  width: 100%;
  height: auto;
  opacity: 1;
}

.footer {
  display: none;
}

.sign-in-container.reset-password .links {
  margin-top: 10px;
  margin-bottom: 0px;
}

.sign-in-container.reset-password .links .login-page-icon {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  background-color: transparent;
}

.sign-in-container.reset-password .reset-btn {
  margin-top: 12px;
  margin-bottom: 0px;
  padding: 10px 13px;
}

/*Footer*/
.footer {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}

/*Media queries*/
@media (max-width: 480px) {
  body {
    background-color: #fff;
  }
  .sign-in-container {
    width: 100%;
    height: auto;
    margin-top: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 18px 15px;
  }
  .sign-in-container .logo {
    margin-bottom: 25px;
  }
  .sign-in-container .logo img {
    width: 240px;
  }
  .sign-in-container .sign-in-input {
    padding: 11px 14px;
    border-color: #f0f2f5;
    border-radius: 7px;
    background-color: #f0f2f5;
  }
  .sign-in-container .sign-in-input:focus {
    border-color: #eeeeee;
    background-color: #f0f2f5;
  }
  .sign-in-container .sign-in-input-wrapper .eye-icon {
    font-size: 20px;
  }
  .sign-in-container .links {
    margin-top: 15px;
  }
  .sign-in-container .login-btn,
  .sign-in-container .reset-btn {
    margin-top: 20px;
    padding: 13px 15px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .footer {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */