* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "_config";
@import "_utilities";

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  background-color: $bgColor;
}

.main-container {
  margin-top: 20px;
  width: 93vw;
}

.main-content {
  width: 100%;
  @include flexSpaceBtw;
  align-items: flex-start;
}

@import "_left-panel";
@import "_settings";
@import "_center-panel";
@import "_right-panel";
@import "_right-panel-alt";
